[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
watchdog = "*"
langchain-openai = "*"
pypdf = "*"
langchain-community = "*"
faiss-cpu = "*"
langchain = "*"
load-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
